# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/

# Environment variables / secrets
.env
.env.*

# Python generated data
python-service/data/

# Node generated/local data
node-api/data/
node-api/uploads/

# Test images
*.jpeg
*.jpg
*.png

# Node
node_modules/

# Logs
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
